{% extends "base.html" %}
{% load  static %}

{% block title %}
Registro
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css %}

{% block content %}

{% include "includes/header.html" %}

<div class="grid-container">
    <div class="grid-x grid-margin-x align-center">
        <div class="cell medium-10 large-6" style="margin-top: 2em;">
            <div class="card" style="width: 100%;">
                <div class="card-divider">
                  <h4>Nuevo proyecto</h4>
                </div>
                <div class="card-section">
                    <form class="grid-x grid-margin-x" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <div class="cell large-6">
                            <label>Nombre:
                                {{ form.user }} 
                                {{ form.proj_user }} 
                            </label>
                        </div>
                        <button type="submit" class="cell hollow button primary">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}