{% extends "base.html" %}
{% load  static %}

{% block title %}
Proyectos
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css %}

{% block content %}

{% include "includes/header.html" %}

<table>
    <thead>
      <tr>
        <th width="200">Código</th>
        <th>Proyectos</th>
        <th width="150">Activo</th>
        <th width="150">Acciones</th>
      </tr>
    </thead>
    <tbody>
        {% for p in projects %}
      <tr>
        <td>{{p.id}}</td>
        <td>{{p.name}}</td>
        <td>{{p.is_active}}</td>
        <td>
          <a class="button tiny" href="{% url 'project_app:project-update' p.id %}">Modificar</a>
          <a class="button tiny" href="{% url 'project_app:project-active-p' p.id %}">Inactivar</a>
          <a class="button tiny" href="{% url 'project_app:project-delete' p.id %}">Eliminar</a>
        </td>
      </tr>
      </tr>

    {% endfor %}
    </tbody>
  </table>

  <div class="callout">
    <h5>Registrar un proyecto</h5>
    <a href="{% url 'project_app:new-project'%}">Nuevo proyecto</a>
  </div>

{% endblock content %}
