<header>
    <div class="grid-x grid-margin-x header">
        <div class="cell small-12 medium-4 large-3">
            <a href="{% url 'home_app:home' %}" style="font-size: 20px; color: #0277bd;">
                Proyectos y usuarios
            </a>
        </div>
        <div class="cell small-12 medium-4">
            
        </div>
        <div class="cell small-12 large-5">
            <ul class="menu" style="justify-content: flex-end;">
                <li>
                    {% if not user.is_anonymous %}
                    <a href="{% url 'users_app:user-login' %}" class="success button"> {{user}} </a>
                    {% else %}
                    <a href="{% url 'users_app:user-login' %}" class="warning button">Acceder</a>
                    {% endif %}
                </li>
                <li>
                    <a href="{% url 'users_app:user-logout' %}">Salir</a>
                </li>
            </ul>
        </div>
    </div>
</header>



  